# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ULerning.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\ULerning\.idea\.idea.ULerning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
